@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: #383838;
  --clr-primary-2: #efefef;
  --clr-primary-3: #fff;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: var(--clr-primary-1);
  letter-spacing: 0.1rem;
}

a {
  /* override the original Ant Design's blue link color */
  color: var(--clr-primary-1);
}

h3 {
  color: unset;
}

.ant-spin-dot-item {
  background-color: var(--clr-primary-1);
}

.ant-spin-spinning {
  display: flex;
  justify-content: center;
}
